@model web_projesi.Models.Model.Blog
@{
    ViewBag.Title = "BlogDetay";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<body>
    <header id="header" class="fixed-top">
        <div class="container">


            <div class="logo float-left">
                <h1 class="text-light"><a href="#"><span>Yazılım Deposu</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li><a href="/Home/Index/">Ana Sayfa</a></li>
                    <li><a href="/Home/Hakkimizda/">Hakkımızda</a></li>
                    <li><a href="/Home/Hizmetlerimiz/">Hizmetlerimiz</a></li>
                    <li><a href="/Home/Iletisim/">İletişim</a></li>
                    <li class="active"><a href="/Home/Blog/">Blog</a></li>
                    <li class="drop-down">
                        <a href="">Hackathon</a>
                        <ul>
                            <li><a href="#">Hackathon Konuları</a></li>
                        </ul>
                    </li>
                    <li class="drop-down">
                        <a href="">Dersler</a>
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="drop-down">
                                <a href="#">Algoritma Programlama</a>
                                <ul>
                                    <li><a href="#">Ersin Arslan</a></li>
                                    <li><a href="#">Mansur Alp Toçoğlu</a></li>
                                    <li><a href="#">Yusuf Özçevik</a></li>

                                </ul>
                            </li>
                            <li><a href="#">İleri Web Programlama</a></li>
                            <li><a href="#">Java</a></li>
                            <li><a href="#">Derin Öğrenme</a></li>
                        </ul>
                    </li>




                    <li><a href="/Home/DuyuruBasvuruları/">Duyuru Başvuruları</a></li>
                </ul>
            </nav><!-- .nav-menu -->

        </div>


    </header>

    <main id="main">

        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>BLOG DETAY</h2>
                    <ol>
                        <li><a href="/Home/Index/">AnaSayfa</a></li>
                        <li><a href="/Home/Blog/">Blog</a></li>
                    </ol>
                </div>

            </div>
        </section><!-- End About Us Section -->
        <!-- ======= Blog Section ======= -->
        <section class="blog" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
            <div class="container">

                <div class="row">

                    <div class="col-lg-8 entries">


                        <article class="entry">

                            <div class="entry-img">
                                <img src="@Model.ResimURL" alt="" class="img-fluid">
                            </div>

                            <h2 class="entry-title">
                                <h3>@Model.Baslik</h3>
                                @Html.Raw(Model.Icerik)

                            </h2>

                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i><a href="#">@DateTime.Now</a></li>
                                </ul>
                            </div>

                            <div class="entry-content">
                                <p>
                                    <h6>Blog Başlık:@Model.Baslik</h6>
                                    <h6>Kategori Ad:@Model.Kategori.KategoriAd</h6>
                                    <h6>Kategori Açıklama:@Model.Kategori.Aciklama</h6>

                                </p>


                            </div>
                        </article><!-- End blog entry -->
                        <div class="blog-comments">
                            <div class="reply-form">
                                <h4>Yorumda Bulunabilirsiniz</h4>
                                <p>Mail adresiniz yayınlanmayacaktır.</p>
                                <form action="">
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <input name="name" type="text" required class="form-control" placeholder="Adınız Soyadınız">
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <input name="email" type="email" required class="form-control" placeholder="Mail Adresiniz">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col form-group">
                                            <textarea name="comment" required class="form-control" placeholder="Yorumunuz"></textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Gönder</button>
                                </form>
                            </div>

                        </div>


                        <div class="row">
                            <div>

                                <h4>Blog Makale Yorumları</h4>

                                @foreach (var item in Model.Yorums.OrderByDescending(x => x.YorumId))
                                {


                            <p>
                                @item.AdSoyad - @item.Icerik <hr />
                            </p>
                                   

                                }
                            </div><!-- End comment #1 -->

                        </div>

                    </div><!-- End blog entries list -->

                    <div class="col-lg-4">
                        <div class="sidebar">

                            <h3 class="sidebar-title">Kategoriler</h3>
                            <div class="sidebar-item categories">
                                @{
                                    Html.RenderAction("BlogKategoriPartial", "Home");
                                }
                            </div><!-- End sidebar categories-->


                            <h3 class="sidebar-title">Son Blog Kayıtları</h3>
                            <div class="sidebar-item recent-posts">
                                @{
                                    Html.RenderAction("BlogKayitPartial", "Home");
                                }
                            </div><!-- End sidebar recent posts-->


                        </div>


                    </div><!-- End blog entries list -->

                </div><!-- End .row -->

            </div><!-- End .container -->

        </section><!-- End Blog Section -->



        <script src="~/scripts/jquery-3.3.1.js"></script>

        <script type="text/javascript">
    $(document).ready(function () {
        $("#gonder").click(function () {
            var adisoyadi = $("#adsoyad").val();
            var epostasi = $("#eposta").val();
            var yorumunuz = $("#icerik").val();
            $.ajax({
                url: '/Home/YorumYap',
                data: { adsoyad: adisoyadi, eposta: epostasi, icerik: yorumunuz, blogId: @Model.BlogId},
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    alert("Yorumunuz eklendi,kontrol edildikten sonra yayınlanacaktır.");
                }
            });
        });
    })

        </script>
    </main>

</body>