@model IEnumerable<web_projesi.Models.Model.Hizmet>
@{
    ViewBag.Title = "Hizmetlerimiz";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<body>
    <header id="header" class="fixed-top">
        <div class="container">

            <div class="logo float-left ">
                <h1 class="text-light"><a href="#"><span>Yazılım Deposu</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li><a href="/Home/Index/">Ana Sayfa</a></li>
                    <li><a href="/Home/Hakkimizda/">Hakkımızda</a>
                    <li class="active"><a href="/Home/Hizmetlerimiz/">Hizmetlerimiz</a></li>
                    <li><a href="/Home/Iletisim/">İletişim</a></li>
                    <li><a href="/Home/Blog/">Blog</a></li>
                    <li class="drop-down">
                        <a href="">Hackathon</a>
                    </li>
                    <li class="drop-down">
                        <a href="">Dersler</a>
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="drop-down">
                                <a href="#">Algoritma Programlama</a>
                                <ul>
                                    <li><a href="#">Ersin Arslan</a></li>
                                    <li><a href="#">Mansur Alp Toçoğlu</a></li>
                                    <li><a href="#">Yusuf Özçevik</a></li>

                                </ul>
                            </li>
                            <li><a href="#">İleri Web Programlama</a></li>
                            <li><a href="#">Java</a></li>
                            <li><a href="#">Derin Öğrenme</a></li>
                        </ul>
                    </li>




                    <li><a href="/Home/DuyuruBasvuruları/">Duyuru Başvuruları</a></li>
                </ul>
            </nav><!-- .nav-menu -->

        </div>


    </header>

    <main id="main">
        <!-- ======= About Us Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>BİZİM HİZMETLERİMİZ</h2>
                    <ol>
                        <li><a href="/Home/Index/">AnaSayfa</a></li>
                        <li><a href="/Home/Hizmetlerimiz/">Hizmetlerimiz</a></li>
                    </ol>
                </div>

            </div>
        </section><!-- End About Us Section -->


        <section class="services">
            <div class="container">

                <div class="row">


                    @foreach (var item in Model)
                    {
                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                            <div class="icon-box">
                                <center><img src="@item.ResimURL" alt="@item.Baslik" width="150" height="150" /></center>
                                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                                <h4 class="title"><a href="">@item.Baslik</a></h4>
                                <p class="description">@Html.Raw(item.Aciklama)</p>
                            </div>
                        </div>

                    }

                </div>

            </div>

        </section><!-- End Why Us Section -->
        <!-- ======= Why Us Section ======= -->

        <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6 video-box">

                        <iframe width="560" height="315" src="https://www.youtube.com/embed/lpII7nJmmg8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>

                    <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                        <div class="icon-box-blue">
                            <div class="icon"><i class="bx bx-fingerprint"></i></div>

                            <h4 class="title"><a href="/Home/Hizmetlerimiz/">Tanıtım Kategorileri </a></h4>
                            <ul>
                                @foreach (var item in ViewBag.Kategori)
                                {
                                    <li class="description">@item.Aciklama</li>
                                    //<li><a href="">@item.Aciklama</a></li>
                                }

                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </section><!-- End Why Us Section -->
        <!-- ======= Service Details Section ======= -->

        <section class="service-details">
            <div class="container">

                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="~/Uploads/Blog/service-details-1.jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">MİSYONUMUZ</h5>
                                <p class="card-text">Yazılım Deposu Sitemizin varlık nedeni Yazılım Mühendisliği okuyan arkadaşlarımızla akademisyenlerimizi bu platformda buluşturup projeler ve hackathon duyurularının ulaştırılmasını sağlamak.</p>
                   
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="~/Uploads/Blog/akademisyen-olmak-ana-gorsel (600 x 400).jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Akademisyenler & Öğrenciler</h5>
                                <p class="card-text">Manisa Celal Bayar Üniversitesi Yazılım Mühendisliği Bölümü öğrencileri ve akademisyenleri için bilgi paylaşımı sağlamak amacıyla geliştirdiğimiz sitemizde ayrıca "Hackathon" buluşmaları sitemiz üzerinden yapılan duyuru ve içeriklerle sağlayarak bilim , teknoloji ve yeniliğin ışığında sürekli üreten ve hayatımızı kolaylaştıracak projelerimizi ülkemiz için geliştirmektir.</p>
                                
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="~/Uploads/Blog/service-details-3.jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">VİZYONUMUZ</h5>
                                <p class="card-text">
                                    Yazılım Mühendisliği okuyan arkadaşlarımızın kendi geliştirecekleri projeleri için Yazılım Deposu sitesinden çok sayıda proje örnekleri bularak fikir sahibi olmasını ve ülkemiz için güçlü projeler oluşturulmasına yardımcı olmak.

                                </p>
              
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img">
                                <img src="~/Uploads/Blog/service-details-4.jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">HACKATHON YÖNETİMİ</h5>
                                <p class="card-text"></p>
                                <div class="Ayrıntılı Bilgi">Yazılım Deposu sitesi üzerinden okulumuzda yapılacak Hackathon yarışması için duyuru ve içerikler kolaylıkla erişilebilecektir.<a href="#"><i class="icofont-arrow-right"></i>Ayrıntılı Bilgi</a></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Service Details Section -->

    </main>
</body>